spring:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    generate-ddl: true
    properties:
      hibernate:
        enable_lazy_load_no_trans: true
  datasource:
    url: jdbc:h2:mem:db
    username: sa
    password:
  h2:
    console:
      enabled: true